.App {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100vw;
}

.Component {
  max-width: 450px;
  display: flex;
  flex-direction: column;
}
.LabelText {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
.Input {
  margin-bottom: 10px;
}
.TextStyle {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}
